{% load render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% csrf_token %}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block 'title' %}FBB{% endblock %}</title>
  </head>
{% block 'header' %}
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">FBB TRASH</a>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav">
          <li><a href="/apply">Postupaushim</a></li>
          <li><a href="/students">Studentam</a></li>
          <li><a href="/phd">Aspirantam</a></li>
          <li><a href="/science">Nauka</a></li>
          <li><a href="/lecture">Lektorii</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contacts">Contacts</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li><a href="/profile" id="profile">Profile</a></li>
            <li><a href="" id="logout">Logout</a></li>
          {% endif %}
          {% if not user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}
  <body>
    <div id="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
  </div>
</html>
