.active {
    background-color: #ff507a;
  }

ul.horizontal-menu-router li {
    display: inline;
    list-style-type: none;
    margin: 0;
}
ul.horizontal-menu-router {
    background-color: #111;
    padding: 0;
    width: 70%;
}
ul.horizontal-menu-router li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

#courses-info {
    width: 70%;
    font-size: 16px;
}
a:link, a:visited {
    color: #ff507a;
}

#biochemistry-info, #class-info, #mol-info, #phd-info, #biology-info, #chemistry-info, #physics-info, #russian-info, #company-info {
    width: 70%;
    font-size: 16px;
}

#map {
    width: 100%;
    height: 500px;
}

.float-left {
    float: left;
    padding: 5px;
}

.float-right {
    float: right;
    padding: 5px;
}

#additional-info {
    list-style-type: none;
}