#map {
    width: 70%;
    height: 500px;
}

#overall-info {
    font-size: 16px;
    width: 70%;
}

#about-info {
    font-size: 16px;
}

.float-right {
    float: right;
    padding: 10px;
}

.float-left {
    float: left;
    padding: 10px;
}

.custom-size-pic {
    width: 400px;
    height: 200px;
}

#general-info, #structure-info {
    width: 70%;
    font-size: 16px;
}

#additional-info {
    list-style-type: none;
}

#additional-info li {
    padding: 10px;
}