#overview-lectorium {
    width: 70%;
    font-size: 16px;
}

#map {
    width: 100%;
    height: 500px;
}

#current-lectorium {
    font-size: 16px;
    padding-bottom: 30px;
}

#archieve-lectorium {
    width: 70%;
    font-size: 16px;
}

.overflow-column {
    overflow-wrap: break-word !important;
    word-break: break-all;
}

.meta {
    display: block;
    font-size: 11px;
    color: #666;
}

.active {
    background-color: #048a5b;
}

ul.horizontal-menu-router li {
    display: inline;
    list-style-type: none;
    margin: 0;
}
ul.horizontal-menu-router {
    background-color: rgba(102, 181, 156, 1);
    padding: 0;
    width: 70%;
    margin-left: -15px;
}
ul.horizontal-menu-router li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.date {
    background-color: rgba(102, 181, 156, 1);
    width: 90px;
    height: 70px;
    overflow: hidden;
    float: left;
    margin-right: 50px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
  }
  
  .one-news {
    float: right;
  }
  
  .month {
    background-color: rgb(73, 145, 122);
    padding-bottom: 3px;
  }
  
  .day {
    padding-top: 15px;
    display: inline-block;
    font-size: 30px;
  }

  .one-lectorium {
      font-size: 20px;
      display: table;
  }

  .lectorium-object {
      display: table-cell;
      vertical-align: middle;
  }